%h1 Listing post_others

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @post_others.each do |post_other|
    %tr
      %td= post_other.title
      %td= post_other.content
      %td= link_to 'Show', post_other
      %td= link_to 'Edit', edit_post_other_path(post_other)
      %td= link_to 'Destroy', post_other, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New post_other', new_post_other_path
