%h1 Listing post_teches

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @post_teches.each do |post_tech|
    %tr
      %td= post_tech.title
      %td= post_tech.content
      %td= link_to 'Show', post_tech
      %td= link_to 'Edit', edit_post_tech_path(post_tech)
      %td= link_to 'Destroy', post_tech, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New post_tech', new_post_tech_path
