#post_its_home
  %h3= link_to "IT blog", post_its_path
  = render :partial => 'post_it', :collection => @post_its
  - user_logged do
    %b= link_to 'New post', new_post_it_path

#post_events_home
  %h3= link_to "Events", post_events_path
  = render :partial => 'post_event', :collection => @post_events
  - user_logged do
    %b= link_to 'New post', new_post_event_path

#projects_home
  %h3= link_to "Projects", projects_path
  = render :partial => 'project', :collection => @projects
  - user_logged do
    %b= link_to 'New post', new_project_path
