= javascript_include_tag :ckeditor

= form_for @project, :html => { :multipart => true } do |f|
  -if @project.errors.any?
    #errorExplanation
      %h3= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title, :size => "80"
  .field
    = f.cktext_area :description, :width => '98%', :height => '600px'
  .field
    = f.file_field :image
  .actions
    = f.submit 'Save'
    #project_saved Project saved
