.projects_entry
  .date= project.created_at.localtime.ctime
  %h3= project.title
  .project_img
    = image_tag project.image.url(:thumb)
  .project_col1
    Язык:
    %span.project_col2= project.language
  .project_col1
    Средство разработки:
    %span.project_col2= project.framework
  - unless project.site.blank?
    .project_col1
      Сайт:
      %span.project_col2= link_to project.site.to_s.gsub(/http[s]?:\/\//, "")
  = truncate_html(project.description, :length => 400)
  = link_to 'Read more...', project
  - user_logged do
    %br
    = link_to 'Edit', edit_project_path(project)
    \|
    = link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
