- user_logged do
  = link_to 'New post', new_project_path
  %br
  %br

#projects_box
  - @projects.reverse_each do |project|
    .projects_entry
      .date= project.created_at.localtime.ctime
      %h3= project.title
      .project_img
        = image_tag project.image.url
      = truncate_html(project.description, :length => 400)
      = link_to 'Read more...', project
      - user_logged do
        %br
        = link_to 'Edit', edit_project_path(project)
        \|
        = link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
