#feedbacks
  = render :partial => @feedbacks, :locals => {:list => true}

#feedback_hr
  %hr

#feedback_notice

#feedback_box
  = form_for Feedback.new, :remote => true do |f|
    %fieldset
      %legend
        Оставить отзыв.
      .field
        = f.label :name, "Ваше имя:"
        = f.text_field :name, :size => '75%'
      .field
        = f.label :body, "Отзыв:"
        = f.text_area :body, :size => '75%'
      .actions
        = f.submit "Добавить"
