= javascript_include_tag :ckeditor

= form_for @post_it do |f|
  -if @post_it.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post_it.errors.count, "error")} prohibited this post_it from being saved:"
      %ul
        - @post_it.errors.full_messages.each do |msg|
          %li= msg

  .field
    /= f.label :title
    = f.text_field :title, :size => "80"
  .field
    = f.cktext_area :content,   :toolbar => 'LSite', :width => '98%', :height => '600px'
    /= f.label :content
    /= f.text_area :content, :size => "80x40"
  .actions
    = f.submit 'Save'
