%h1 Listing post_its

#post_it_box
  - @post_its.each do |post_it|
    .post_it_entry
      %h3= post_it.title
      = word_wrap(truncate(post_it.content, :length => 400), :line_width => 10)
      = link_to 'Read more...', post_it
      - user_logged do
        %table
          %tr
            %td= link_to 'Edit', edit_post_it_path(post_it)
            %td= link_to 'Destroy', post_it, :confirm => 'Are you sure?', :method => :delete

%br

- user_logged do
  = link_to 'New post_it', new_post_it_path
