%h1 Listing post_its

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th

  - @post_its.each do |post_it|
    %tr
      %td= post_it.title
      %td= post_it.content
      %td= link_to 'Show', post_it
      - user_logged do
        %td= link_to 'Edit', edit_post_it_path(post_it)
        %td= link_to 'Destroy', post_it, :confirm => 'Are you sure?', :method => :delete

%br

- user_logged do
  = link_to 'New post_it', new_post_it_path
