#posts_box
  .posts_entry_show
    .date= @post_it.created_at.localtime.ctime
    %h3
      = @post_it.title
    %p
      = raw(@post_it.content)
    %p
      %b Tags:
      = raw(join_tags(@post_it.blog_tags))
    - user_logged do
      = link_to 'Edit', edit_post_it_path(@post_it)
      \|
    = link_to 'Back', post_its_path
