= javascript_include_tag :ckeditor
- @post_event.blog_tags.build

= form_for @post_event do |f|
  -if @post_event.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post_event.errors.count, "error")} prohibited this post_event from being saved:"
      %ul
        - @post_event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title, :size => "80"
  .field
    = f.cktext_area :content, :width => '98%', :height => '600px'
    = ckeditor_ajax_script
  %h3
    = render :partial => 'tags/form', :locals => {:form => f, :tags => :blog_tags}
  .actions
    = f.submit 'Save'
