= javascript_include_tag :ckeditor

= form_for @post_event, :remote => true do |f|
  -if @post_event.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post_event.errors.count, "error")} prohibited this post_event from being saved:"
      %ul
        - @post_event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title, :size => "80"
  .field
    = f.cktext_area :content, :width => '98%', :height => '600px'
    = ckeditor_ajax_script
  .actions
    = f.submit 'Save'
    #post_saved Post saved
